doctype transitional
html(lang="en")
  head
    title="validate"
    meta(http-equiv='Cache-Control' , CONTENT = 'no-cache')
    meta(http-equiv='Cache-Control' , CONTENT = 'max-age=0')
    meta(http-equiv="expires" , content="0")
    meta(http-equiv='pragma', content='no-cache')
  body
    h3 Thank you #{userName}
    p Your Order
    table(border="2", style = "padding: 1in", cellpadding="2")
      tbody
        tr
          td
            b Book
          td
            b Quantity
          td
            b Unit Cost
          td
            b Total Cost
        each val in boughtBooks
          tr
            td(align='left') #{val.name}
            td(align='right') #{quantity}
            td(align = 'right') #{val.price}
            td(align = 'right') #{val.total}
    p Total cost is #{purchaseTotal}        
    p
      br
      |Please enter your Credit Card information:
    form(method='post', action='confirm')
      table(border='0')
        tbody
          tr
            td Credit Card
            td(width='92')
              select(name='Creditcard')
                option MasterCard
                option Visa
                option Amex
          tr
            td Card Number
            td(width='92')
              input(type='text', name='CardNumber', size='16')
          tr
            td Express Delivery
            td(width='92')
              input(type='checkbox', name='expressdelivery')
      input(type='submit',name='Purchase',value='Purchase')
      br
      a(href='/landing') LOGOUT
    block content